


/AspNet.Core.Services/Entity\bin
/AspNet.Core.Services/Entity\obj
/AspNet.Core.Services/Entity\Properties
/AspNet.Core.Services/Respository\bin
/AspNet.Core.Services/Respository\obj
/AspNet.Core.Services/Respository\Properties
/AspNet.Core.Services/src\RestServices\bin
/AspNet.Core.Services/src\RestServices\obj
/AspNet.Core.Services/src\RestServices\Properties

/AspNet.Core.Services/Respository\Respository.xproj.user
/AspNet.Core.Services/Entity\Entity.xproj.user
/AspNet.Core.Services\src\RestServices\RestServices.xproj.user

/AspNet.Core.Services/.vs/

/AspNet.Core.Services/Entity/Properties
/AspNet.Core.Services/Entity/obj/Debug/netstandard1.6
/AspNet.Core.Services/Entity/Entity.xproj.user
/AspNet.Core.Services/Entity/bin/Debug/netstandard1.6
/AspNet.Core.Services/Respository/bin/Debug/netstandard1.6
/AspNet.Core.Services/Respository/Respository.xproj.user
/AspNet.Core.Services/Respository/Properties
/AspNet.Core.Services/Respository/obj/Debug/netstandard1.6
/AspNet.Core.Services/src/RestServices/obj/Debug/netcoreapp1.0
/AspNet.Core.Services/src/RestServices/bin/Debug/netcoreapp1.0
/AspNet.Core.Services/src/RestServices/RestServices.xproj.user
